---
import "../styles/main.css";
import "../styles/about.css";
import Navigation from "../components/Navigation.astro";
import ProgramCards from "../components/ProgramCards.astro";
import Footer from "../components/Footer.astro";
import Gruppe from "../components/Gruppe.astro";
import { Debug } from "astro/components";

const url = "https://lytiiyuaxzhfwzaykkar.supabase.co/rest/v1/Program";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5dGlpeXVheHpoZnd6YXlra2FyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODY2MDgsImV4cCI6MTk5NDM2MjYwOH0.qA8kHlhJamX17bRpM-4rETSyqjgAIxwx_spo7qHeWuo",
  },
};

const response = await fetch(url, options);
const data = await response.json();

const main = data.filter((program) => program.scene === 1);
const second = data.filter((program) => program.scene === 2);
const lawn = data.filter((program) => program.scene === 3);
console.log("MAIN DATA", data);
---

<html lang="en">
  <Debug {data} />

  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="robots" content="noindex" />
  <link rel="stylesheet" href="https://use.typekit.net/aqy4phb.css" />
  <link rel="stylesheet" href="https://use.typekit.net/aqy4phb.css" />
  <title>Astro</title>

  <body>
    <Navigation />
    <main>
      <!-- {data.map((program) => <ProgramCards navn={program.navn} description={program.description} tid={program.tid} img={`/public/imgs/${program.img}`} />)} -->

      <Gruppe program={main} scene="main" />
      <Gruppe program={second} scene="second" />
      <Gruppe program={lawn} scene="lawn" />
    </main>
    <Footer />
    <style>
      .grid_1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    </style>
  </body>
</html>
