---
import "../styles/main.css";
import "../styles/about.css";
import Navigation from "../components/Navigation.astro";
import ProgramCards from "../components/ProgramCards.astro";
import Footer from "../components/Footer.astro";
import Gruppe from "../components/Gruppe.astro";
import { Debug } from "astro/components";
import MoreBtn from "../components/MoreBtn.astro";

const url = "https://lytiiyuaxzhfwzaykkar.supabase.co/rest/v1/Program";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5dGlpeXVheHpoZnd6YXlra2FyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODY2MDgsImV4cCI6MTk5NDM2MjYwOH0.qA8kHlhJamX17bRpM-4rETSyqjgAIxwx_spo7qHeWuo",
  },
};

const response = await fetch(url, options);
const data = await response.json();

const main = data.filter((program) => program.scene === 1);
const second = data.filter((program) => program.scene === 2);
const lawn = data.filter((program) => program.scene === 3);
console.log("MAIN DATA", data);
---

<html lang="en">
  <Debug {data} />

  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="robots" content="noindex" />
  <link rel="stylesheet" href="https://use.typekit.net/aqy4phb.css" />
  <link rel="stylesheet" href="https://use.typekit.net/aqy4phb.css" />
  <title>Astro</title>

  <body>
    <Navigation />
    <main>
      <!-- {data.map((program) => <ProgramCards navn={program.navn} description={program.description} tid={program.tid} img={`/public/imgs/${program.img}`} />)} -->
      <h1>SATURDAY</h1>
      <section class="grid_1-1-1">
        <div class="sektion">
          <h2>Main stage</h2>
          <Gruppe program={main} scene="main" />
          <MoreBtn />
        </div>
        <div class="sektion">
          <h2>Second stage</h2>
          <Gruppe program={second} scene="second" />
          <MoreBtn />
        </div>
        <div class="sektion">
          <h2>On the lawn</h2>
          <Gruppe program={lawn} scene="lawn" />
          <MoreBtn />
        </div>
      </section>
      <h1>SUNDAY</h1>
      <section class="grid_1-1-1">
        <div class="sektion">
          <h2>Main stage</h2>
          <Gruppe program={main} scene="main" />
          <MoreBtn />
        </div>
        <div class="sektion">
          <h2>Second stage</h2>
          <Gruppe program={second} scene="second" />
          <MoreBtn />
        </div>
        <div class="sektion">
          <h2>On the lawn</h2>
          <Gruppe program={lawn} scene="lawn" />
          <MoreBtn />
        </div>
      </section>
    </main>
    <Footer />
<style>
  
  body {
    background-color: #F9EEE8;
  }
  .grid_1-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;
      width: 85%;
      margin: 0 auto;
  }
  .sektion {
      border: 1px solid black;
      padding: 20px;

  }
  h1 {
    text-align: center;
    font-size: 75px;
    margin: 0;
  }
  h2 {
    background-color: #710000;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 0;
  }
    </style>
  </body>
</html>
