---
const { img, tid, navn, discription, scene } = Astro.props;
---

<!-- "https://lytiiyuaxzhfwzaykkar.supabase.co/prøve/sofie/Program" -->
<article>
  <img src={img} alt="billede" />
  <div>
    <h2>{tid}</h2>
    <h2>{navn}</h2>
    <p>{discription}</p>
    <p>{scene}</p>
  </div>
</article>
