---
const { img, navn, description, tid, scene, link } = Astro.props;
---

<a href={link}>
  <article class="card">
    <img src={img} alt="artists" />
    <div class="text">
      <div class="background">
        <h3>{tid}</h3>
        <h2>{navn}</h2>
        <p>{description}</p>
        <h3>{scene}</h3>
      </div>
      <button>Read more</button>
    </div>
  </article>
</a>

<style>
  a {
    text-decoration: none;
    color: black;
  }
  .background {
    background-color: #f4dfde;
    margin-right: 10px;
    margin-top: 10px;
  }
  button {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
  }
  .text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  h2 {
    font-weight: bolder;
  }

  p {
    color: #710000;
  }

img {
  width: 100%;
  margin-top: 40px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

img:hover {
  width: 100%;
  margin-top: 40px;
  filter: none;
  -webkit-filter: grayscale(0);
}

</style>
