---
const { billede, titel, beskrivelse, tid, scene } = Astro.props;
---

<article>
  <img src={billede} alt="artists" />
  <div class="card">
    <div class="pink">
      <h3>{tid}</h3>
      <h2>{titel}</h2>
      <p>{beskrivelse}</p>
      <h3>{scene}</h3>
    </div>
    <button>Read more</button>
  </div>
</article>

<style>
  .pink {
    background-color: #f4dfde;
    padding: 10px;
    margin-right: 10px;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  img {
    max-width: 100%;
  }
</style>
